.outlay{
    width: 100%;
    height: 50px;
    background-color: #e9331b;
    margin: 0 auto;
    
}

.style{
    margin: 0;
}


.center{
    margin: 0 auto;
    width: 900px;
}

.top-left{
    width: 170px;
    float: left;

}

.top-right{
    width: 50%;
    float: right;
}


.left{
    height: 50px;
    width: 100%;

}

.left{
    height: 50px;
    width: 100%;

}

.left a{
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left:0px;
}

.top-right{
    width: 50%;
    float: right;
    height: 50px;
}

.right{
    height: 50px;
    display: inline-block;
    width: 100%;
}


.right ul{
    list-style-type: none;
    margin: 0px;
}

.right li{
    float: left;
 
}

.right a[href]{
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 5px;
}





.rsvp{

    width: 100%;
    margin: 0 auto;
    clear: both;
}


.rsvp-box{
    width: 440px;
    margin: 0 auto;
}

.rsvp1{
    height: 340px;
    width: 100%;
    background-color: aquamarine;
    padding:25px;
}


.rsvp1 p{
    font-size: 22px;
    font-style: oblique;

}

.a{
    width: 80%;
    height: 30px;
    margin: 20px;

}

.a label{
    width: 30%;
    
    line-height: 30px;
    font-size: 18px;
    float: left;

}

.a input[type="text"]{
    width: 50%;
    height: 30px;
}


.b{
    width:80%;
    height: 30px;
    margin: 20px;
}
.b input[type="submit"]{
    margin-left: 30%;
    color: white;
    background-color: red;
    height: 30px;
    width: 70px;
    margin-top: 15px;

}