body{
   
    
}
.layout{
   width: 100%;
   margin: 0 auto;
   padding: 20px;
}
 
.top{
    width: 100%;
    background-color: #e9331b;
    margin: 0px;
    height: 50px;
}

.top-center{
    width: 900px;
    margin: 0 auto;
}

.top-box-left{
    width: 170px;
    height: 50px;
    margin-left: 0px;
  
}

.top-box-right{
    width: 50%;
    float: left;
    display: block;
}


.top-left{
    
    width: 100%;
    height: 50px;

}

 .top-box-left a[href]{
    font-size: 120px;
    color: white;
    text-align: center;
    height: 50px;
    margin: 0px;
    width: 100px
   
    
}




.top-right{
   
    width: 100%;
    height: 50px;

}
.top-right ul{
   list-style-type: none;
    
}
.top-right li{
   float: left;
    
}
.top-right a[href]{
   
    color:white;
    font-weight: bold;
    font-size: 110%; 
    margin-left: 5px;
    margin-right: 5px;   
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
}


.home{
    clear: both;
    
}

.home-center{

}

.home-float-left{

}
.home-float-right{

}

.home-left{

}
.home-left h3{

}

.home-left h4{

}

.home-left p{

}

.home-float-right{

}

.home-right{

}

.home-right-heat{

}

.home-right p{

}
.about{

}


.about-center{

}

.about-center h2{

}
.about-center img{

}
.about-center p{

}


.about-center2{

}

.about-center2 img{

}





.about-box-left{

}


.about-box-center{

}

.about-box-right{

}






.about-float-left{

}


.about-float-left h2{

}
.about-float-left p{

}

.about-float-center{

}

.about-float-center p{

}

.about-float-right{

}

.about-float-right h2{

}

.about-float-right p{

}






.wedding-box-left{

}

.wedding-box-center{

}

.wedding-box-right{

}





.wedding-center{

}

.wedding-center h2{

}
.wedding-center img{

}

.wedding-float{

}

.wedding-float-left{

}
.wedding-float-left1{

}
.wedding-float-left1 h3{

}

.wedding-float-left1 a{

}

.wedding-float-left1 p{

}

.wedding-float-left2{

}

.wedding-float-left2 h3{

}

.wedding-float-left2 a{

}

.wedding-float-left2 p{

}


.wedding-float-center{

}


.wedding-float-center{

}
.wedding-float-center h3{

}

.wedding-float-center p{

}

.wedding-float-center img{

}
.wedding-float-center h4{

}



.wedding-float-right{

}

.wedding-float-right1{

}
.wedding-float-right1 h3{

}
.wedding-float-right1 a{

}
.wedding-float-right1 p{

}

.wedding-float-right2{

}

.wedding-float-right2 h3{

}

.wedding-float-right2 img{

}
.wedding-float-right2 a{

}
.wedding-float-right2 p{

}



.rsvp-center{

}

.rsvp-center h2{

}

.rsvp-center img{

}






.rsvp-box-left{

}

.rsvp-box-center{

}

.rsvp-box-right{

}







