.style{
    width: 100%;
  
}
.style1{
    margin: 0;
}


.top{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #e9331b;
}


.center{
    width: 900px;
    margin: 0 auto;
}

.top-box1{
    width: 170px;
    float: left;
}

.top-box2{
    width: 50%;
    float: right;
    height: 50px;
}

.top-left{
    height: 50px;
    width: 100%;
}

.top-right{
    width: 100%;
    height: 50px;
    display: inline-block;

}


.top-left a{
     color: white;
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
     line-height: 50px;
     margin-left: 0;
}

.top-right ul{
   list-style-type: none;
   margin: 0;

}

.top-right li{
    float: left;
}

.top-right a[href]{
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bold;
    color: white;

}


.rsvp{
    width: 100%;
    margin: 0 auto;
    clear: both;

}
.center1{
    width: 450px;
    margin: 0 auto;

}

.rsvp1{
    height: 340px;
    width: 100%;
    background-color: #a8f361;
    padding: 25px;
}


.rsvp1 p{
    text-align: center;
    font-style: italic;
    font-size: 22px;
    word-spacing: 5px;
}


.a{
    width: 80%;
    height: 30px;
    margin: 20px;
}


.a label{
    width: 30%;
    height: 30px;
    float: left;
    font-size: 20px;
}

.a input[type="text"]{
     width: 50%;
     height: 30px;
}

.a input[type="submit"]{
    margin-left: 30%;
    background-color: red;
    color: white;
    width: 20%;
    
    font-size: 20px;
    padding: 0;
}